[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SortedEffects"]
	path = SortedEffects
	url = https://github.com/shuowencs/sortedeffects
